
body
{
   /*background-image:url("light.jpg");*/
  /* background-size: cover;*/
	text-align: center;
	margin:auto;
	background:black;
	
}
p{
	color: #FFF;
}
#site_name{ /*logo and site name -FIX IT*/
	
	
	font: 20px felix titling;	
	text-Align:center;
	color:white;
	text-decoration: overline underline; 		
	float:center;		
	/*border: 1px solid blue;*/
	padding:5px; /*padding is inside, margin is outside*/
}

#top_menu{ /* navigation bar */
	background:black	; /* bg color */
	color:white; /* font color */
	height:25px;
	/*width:960px;*/
	margin:auto;
	
	text-Align:center;
	
	/*border-radius:10px;*/
}
#top_menu li{  /* navigation bar */
	display:inline-block; 
	/*list-style:none; /*no symbols(arrows) next to the names*/
	padding: 5px;
	padding-right:6px;
	font: bold 20px arial;
	
	
}
#top_menu li:hover{
	color: #FFD700	;
}	
.row{
	display: inline;
	
	
}

#h2{
	font: 22px felix titling;
	text-Align:center;
	color:white;
	text-decoration: overline underline; 			
	float:center;


	/*border: 1px solid blue;*/
	padding:5px; /*padding is inside, margin is outside*/}
	
#line{
	height:1 px;
	background: black;
	border-color: #FFD700
	/*width:1024px;*/
}
#syntax{
	color:white;
	padding-top:5px;
	font: 16px Rockwell;

}

#aside img{
		
		width:400px;
		height:200px;
}
.jumbotron{
	background:black;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	width: 200px;
	height: 30px;
}
.button:hover{
	background-color: #FFF;
	color: black;
}
.button1 {
    background-color: #000;
    color: white;
	font: 18px bold;
    border: 2px solid white	;
    display:inline-block;
	padding-top:20px;
	text-align: center;
	width:200px;
}





.button3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #000;
    color: yellow;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}